body {
  margin: 1em auto 4em auto;
  width: 1000px;
  color: #333;
  font-family: "Istok Web", sans-serif;
  background-image:url('https://github.com/pzhsummer/exoplanets_database/blob/test/debut_light.png'); 
  background-repeat:repeat;
  /*图像会按需重复来覆盖整个背景图片所在的区域*/
} 

body > p, h1 {
  width: 720px;
}

h1, h2, footer{
  font-family: "Oswald", serif;
  color: #333;
  text-rendering: optimizeLegibility;
  /*浏览器在绘制文本时将着重考虑易读性*/
}

#codementumIcon {
vertical-align: -13%;
}

a {
  color: #156B87;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
